bcrypt>=4.0.0
blinker>=1.7.0
Flask>=3.0.0
mysql-connector-python>=8.0.0
numpy>=1.24.0
openpyxl>=3.1.0
pandas>=2.0.0
python-dateutil>=2.8.0
pytz>=2023.0
requests>=2.31.0
SQLAlchemy>=2.0.0
flask-limiter>=3.0.0
flask-mail>=0.9.0
python-dotenv>=1.0.0
tzdata>=2023.0
typing_extensions>=4.0.0
